  .why-stonepedia-container {
    background-color: #1a1a1a; /* Black background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 50px 0; /* Adjust padding as needed */
  }
  
  .subheading {
    font-size: 14px; /* Adjust font size as needed */
    color: yellow; /* Red color for subheading */
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  
  .heading {
    font-size: 48px; /* Adjust font size as needed */
    font-weight: bold;
    margin: 0;
  }

  .features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff; /* Black background */
    padding: 50px 20px;
    align-items: center;
    
  }
  
  .feature {
    flex: 1 1 300px; /* Adjust width as needed */
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .feature-icon {
    position: relative;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .circle {
    position: absolute;
    bottom: 0; /* Position the circle at the bottom */
    left: 50%; /* Center horizontally */
     /* Adjust for centering */
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #FF0000;
    display: flex; /* Use flexbox for centering */
  justify-content: flex-end; /* Center horizontally */
  align-items: flex-end; /* Center vertically */
   
  }
 
 .centered{
  display: flex;
  align-items: center;
  justify-content: center;
 }
  
 .image-2{
  width: auto;
  height: 40vh;
 } 