.sidebar {
    position: fixed;
    top: 0;
    right: -400px; 
    width: 300px;
    height: 150vh; 
    background-color: #ffff; 
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 1000; 
    overflow-y: auto; 
  }
  
  .sidebar.open {
    right: 0;
  }
  
  .sidebar-content {
    h2 {
      font-size: 18px;
      margin-bottom: 15px;
      font-family: 'Courier New', Courier, monospace;
      font-size: 24px;
      align-items: center;
    }
  
    p {
      font-size: 14px;
      margin-bottom: 20px;
      font-family: 'Courier New', Courier, monospace;
      align-items: center;
      box-shadow: inset;
    }
  
    ul {
      list-style: none;
      padding: 0;
    }
  
    li {
      margin-bottom: 10px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 100;
      color: red;
      font-size: 18px;
      align-items: center;

    }
  
    a {
      color: #333;
      text-decoration: none;
    }
  }

  .sidebar.open {
    right: 0;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .close-button svg {
    width: 20px;
    height: 20px;
  }
  .image{
    width: 200px;
  }